body{
    background-color: #e6eaf2;
}
#main{
    width:80%;
    height:100%;
    margin:auto;
}
#login{
    height:300px;
    width:320px;
    margin:25% 34.20%;
    background-color: #dae2f2;
    border-radius: 7px;
}
h2{
    position: absolute;
    margin-top:25px;
    margin-left:40px;
    font-family:Verdana;
    color:dimgray;
}
#formLogin{
    padding-top:25%;
    padding-left:15%;
    padding-right:17%;
}
label{
    display: block;
    padding-left:53px;
    padding-bottom:10px;
    padding-top:10px;
}
input{
    width:220px;
}
#button{
    width:110px;
    height:35px;
    margin:35px 57px;
}